* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #aa5656, #a0e273);
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

@keyframes blob {
  0% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 130px;
    height: 130px;
  }
}

.container {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba( 225, 225, 225, .13);
  border: 1px solid rgba( 225, 225, 225, .3);
  border-radius: 3px;
  backdrop-filter: blur(20px);
  box-shadow: 10px 10px 10px rgba( 0, 0, 0, .1);
}

input:focus {
  outline: none;
}

.preview-box {
  width: 320px;
  height: 320px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted;
}

.preview-box .preview-element {
  width: 80%;
  height: 80%;
  background-color: rgba( 225, 225, 225, .3);
  box-shadow: 10px 10px 10px rgba( 0, 0, 0, .1);
  border-radius: 0 0 0 0;
}

.preview-box .point {
  display: block;
  position: absolute;
  width: 45px;
  height: 30px;
  background-color: #a0e273;
  border: 1px solid;
}

.point.top-left {
  top: 0;
  left: 0;
}

.point.top-right {
  top: 0;
  right: 0;
}

.point.bottom-right {
  bottom: 0;
  right: 0;
}

.point.point.bottom-left {
  bottom: 0;
  left: 0;
}

.output-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.output-box textarea {
  padding: .5rem;
  background-color: rgba( 225, 225, 225, .3);
  border: none;
  resize: none;
}

.output-box textarea:focus,
.output-box button:focus {
  outline: none;
}

.output-box button {
  padding: .5rem;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: rgba( 225, 225, 225, .3);
  border: 1px solid rgba( 225, 225, 225, .3);
  cursor: pointer;
}


.output-box button:hover {
  background-color: rgba( 225, 225, 225, .6);
}